body{
    background-color: rgb(29, 1, 94);
    font-size: 100%;
}

#main{
    border: 3px solid;
    height: 32em;
    width: 95em;
    background: linear-gradient(rgb(0, 132, 194), rgb(0, 255, 213));
    margin-left: auto;
    margin-right: auto;
    font-family: "Inter";
    font-weight: 600;
}

#perinfobg{
    position: sticky;
    top: 0;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 3px blue;
    height: 4.6875em;
    width: auto;
    background: linear-gradient(rgb(180, 234, 255), rgb(131, 198, 221));
    padding: 10px;
    margin: 0px;
    padding: 0;
}

#perinfo{
    color: rgb(72, 157, 255);
    font-size: 1.5625em;
    text-align: center;
    vertical-align: middle;
    line-height: 0em;
    width: 35%;
    height: 4.6875em;
}

#links{
    font-size: 1.0625em;
    width: 28%;
    height: 4.6875em;
}

#descript{
    vertical-align: middle;
    font-size: 1.0625em;
    margin-top: 0.33em;
    width: 35%;
    height: 4.6875em;
}

#descrpara{
    margin-top: 0em;
}

.column{
    float: left;
}

.row::after{
    clear: both;
}
a{
    text-decoration: none;
    color: white;
}

#email:hover{
    color: aqua;
}

#github:hover{
    color: #161b22f2;
}

#wix:hover{
    color: rgb(39, 199, 39);
}

#location:hover{
    color: rgb(236, 77, 77);
}

#contents{
    margin-top: 7.5em;
    padding-left: 1em;
    text-shadow: 2px 2px 3px blue;
    color: rgb(140, 203, 255);
}

#contentuebrschr{
    color: rgb(1, 99, 211);
    text-shadow: 2px 2px 2px rgb(150, 192, 255);
}

#schulbildung{
    width: 30em;
    float: left;
}

#praktika{
    width: 33em;
    float: left;
}

#ausbildung{
    width: 30em;
    float: left;
}

h4{
    padding-bottom: 0em;
    margin-bottom: 0em;
}