body{
    background-color: rgb(22, 22, 22);
    font-size: 100%;
}

#main{
    border: 3px solid;
    border-color: black;
    height: auto;
    width: 75em;
    background: linear-gradient(rgb(77, 77, 77), rgb(37, 37, 37));
    margin-left: auto;
    margin-right: auto;
    font-family: "Inter";
    font-weight: 600;
    color: rgb(230, 230, 230);
    border-radius: 10px;
}

#perinfobg{
    position: sticky;
    top: 0px;
    height: 4.7em;
    width: 100%;
    background: linear-gradient(rgb(77, 77, 77), rgb(37, 37, 37));
    z-index: 1;
}

#name{
    color: rgb(219, 219, 219);
    font-size: 1.5625em;
    text-align: center;
    vertical-align: middle;
    line-height: 0em;
    margin-left: 2em;
    width: auto;
    height: 3em;
}

#links{
    vertical-align: middle;
    font-size: 1.0625em;
    margin-left: 5em;
    padding-top: 1em;
    width: 50%;
    height: 3em;
}

.column{
    float: left;
}

.trapez::after{
    clear: both;
}

a{
    text-decoration: none;
    color: rgb(219, 219, 219);
}

#email:hover{
    color: aqua;
}

#github:hover{
    color: #161b22f2;
}

#wix:hover{
    color: rgb(39, 199, 39);
}

#location:hover{
    color: rgb(236, 77, 77);
}

#generallink:hover{
    color: gray;
}

.trapez{
    border-top: 15px solid rgb(236, 0, 0);
    border-left: 5px solid transparent;
    border-right: 900px solid transparent;
    height: 0;
    width: 290px;
    margin-top: 0;
    margin-left: 5px;
    float: left;
}

#descript{
    margin-top: 5em;
    padding-left: 2em;
}

lottie-player{
    margin: 0 auto;
}

#berufehead{
    text-align: right;
    margin-top: 7em;
    padding-right: 2em;
}

#berufe{
    text-align: left;
    font-size: 15px;
    padding-left: 2em;
}

table td, table td * {
    vertical-align: top;
}

#eigenhead{
    margin-top: 7em;
    padding-left: 2em;
}

#serverhead{
    padding-left: 2em;
}

#serverdescript{
    padding-left: 2em;
}